body {
  margin: 0;
  overflow-y: hidden;
}

.center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.elevation {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ant-menu-title-content{
  margin-left: 8px !important;
}
